@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: local(''),
  url('../../fonts/manrope/manrope-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../fonts/manrope/manrope-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../../fonts/manrope/manrope-v12-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../../fonts/manrope/manrope-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../../fonts/manrope/manrope-v12-latin-500.svg#Manrope') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Monument';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../../fonts/monument/MonumentExtended-Regular.woff') format('woff');
}